
.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
.bang{
font-weight: bold;
font-size:32px ;
color:rgba(14, 14, 14, 1) ;
}
.Sign{
list-style: none;
}
.btn{
  color: #006A50;
  font-weight: 600px;
  border-radius: 8px;
  padding: 15px 30px;
  border-color: #006A50;
  background-color: white;
}
.title{
color:rgba(14, 14, 14, 0.5) ;
font-weight: medium;
}
.heading{
font-weight: 800px;
color:#0E0E0E ;
}
.btn-primary{
background-color:#006A50 ;
color:#FFFFFF;
padding: 17px 34px;
border-color:#006A50 ;
border-radius:8px ;
}
.banner{
  display: flex;
  background-color:#C6E4D6;
  padding:80px 100px ;
  justify-content:space-between ;
  gap: 64px;
  margin: 20px 160px;

}
.img{
  width: 570px;
}
.banner-content{
  width: 600px;
}
.pillars{
  display: flex;
  gap: 24px;
}
.item-heading{
  font-weight: bold;
  font-size: 40px;
  margin: 32px 60px;
}
.items{
padding:24px 48px ;
}
.future{

}
.vision{
  display: flex;
  gap: 24px;
  

}
.vision-item{
  padding: 32px 32px;
}
.item-des{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  
  
}
.item-title{
  font-weight: bold;
  font-size: 20px;
}
.btn1{
background-color: #5490F5;
color:#FFFFFF;
border-radius: 16px;
border: none;
padding: 11px 20px;
}
.btn2{
background-color:#09A15C ;
color: #FFFFFF;
border-radius: 16px;
/* border-color: none; */
border: none;
padding: 11px 20px;
}
.btn3{
  background-color:#FFC239 ;
  color: #FFFFFF;
border-radius: 16px;
/* border-color: none; */
border: none;
padding: 11px 20px;
 
}
.back-color1{
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;

}
.back-color2{
background-color: rgba(198, 228, 214, 1);
border-radius: 16px;
}
.back-color3
{
background-color: rgba(247, 235, 207, 1);
border-radius: 16px;
}
.advisor{
  padding: 24px 48px;
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  margin: 32px 60px;
  border-radius: 16px;
  border-color: rgba(14, 14, 14, 0.15);
  background-color: #FFFFFF;
  text-align: left;
  
}
.future{
  margin: 32px 60px;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}
th, td {
   border: 1px solid #ddd; 
   padding: 10px;
    text-align: left; }

        th { 
          
        background-color: #c8e6c9;
         }

        select { 
          padding: 5px; }


        .recent{
          font-weight: bold;
          font-size: 40px;
          color: #0E0E0E;
          margin: 80px 160px 32px 160px;
          text-align: left;
        }
        .btn-bang{
          background-color: #006A50;
          padding: 13px 26px;
          color: #FFFFFF;
          border-radius: 8px;
          margin-top: 32px;
          margin-right: 405px;
        }
      
    
        body {
          font-family: Arial, sans-serif;
          text-align: center;
      }
      
      .container {
          max-width: 600px;
          margin: auto;
      }
      
      .donation-options button {
          padding: 20px 20px;
          margin: 5px;
          border-radius: 16px;
          border: 1px solid #ddd;
          background-color:none;
          margin: 5px;
          cursor: pointer;
      }
      
      .donate-btn {
          background: green;
          color: white;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border-radius: 8px;
      }
      .button2{
          background-color:#C6E4D6 ;
      }
      .amount{
          width: 100%;
          padding: 20px 40px 20px 40px;
          margin: 32px 0 ;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 16px;
          text-align: center;
          color: #666;
          background-color: #f8f8f8;
      }
      .footer{
        background-color: #C6E4D6;
        margin: 80px 160px;
        border-radius: 24px;
        padding: 80px 200px;
      
        
      }
    .email-input{
      gap: 0px;
      display: flex;
      flex-direction: row;
      border: none;
      border-radius: mixed;
      text-align: center;
      border-radius: 10px;  
      
    }
    .sub{
      background-color: #006A50;
      border-radius: mixed;
      padding: 17px 34px;
      border-radius: 10px;
    
    }
    .mail{
      padding: 17px 34px;
      padding: 18px 100px 18px 40px;
      border-radius: 10px;
    }
    .img2{
      margin-left: auto;
      justify-content:flex-start ;
      width: 308px;
      height:206px ;
      border-radius: 24px;
    }
    .Bangladesh{
      flex-direction: column;
      margin: 56px 48px;
      
    
    }
    .new-bangladesh{
      display: flex;
      padding: 48px;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 24px;
      text-align: left;
      /* gap: 32px; */
     

    }
  
    .bangla{
      margin: 8px 32px;
    }
     .color{ 
       background-color: #C6E4D6; 
     } 
     .table{

      padding: 32px;
     }
    